pandas>=1.0,<1.1
numpy~=1.14
scipy~=1.0
h5py
dataclasses
natsort
importlib_metadata>=0.7; python_version < '3.8'
packaging
sparse>=0.10.0
# TODO: make these belog to an "anndata[dask]" "extra"
dask[dataframe]
dask[array]
